<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>

      @if (authService.isAuthenticated()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <app-icon name="pencil-square" />&nbsp;New Article
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <app-icon name="gear-fill" />&nbsp;Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profile', authService.username()]"
            routerLinkActive="active"
          >
            @if (authService.currentUser()?.image) {
              <img [src]="authService.currentUser()?.image" class="user-pic" alt="" />
            }
            {{ authService.username() }}
          </a>
        </li>
      } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-signup" routerLink="/register" routerLinkActive="active"
            >Sign up</a
          >
        </li>
      }
    </ul>
  </div>
</nav>
