<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profile', article().author.username]">
      <img
        [src]="article().author.image || 'https://api.realworld.io/images/smiley-cyrus.jpg'"
        [alt]="article().author.username"
      />
    </a>
    <div class="info">
      <a [routerLink]="['/profile', article().author.username]" class="author">{{
        article().author.username
      }}</a>
      <span class="date">{{ article().createdAt | date: 'longDate' }}</span>
    </div>
    @if (authService.isAuthenticated()) {
      <button
        type="button"
        class="btn btn-sm pull-xs-right"
        [class.btn-primary]="article().favorited"
        [class.btn-outline-primary]="!article().favorited"
        (click)="onToggleFavorite(article())"
      >
        <app-icon name="heart-fill" /> {{ article().favoritesCount }}
      </button>
    }
  </div>
  <a [routerLink]="['/article', article().slug]" class="preview-link">
    <h1>{{ article().title }}</h1>
    <p>{{ article().description }}</p>
    <span>Read more...</span>
    <app-tag-list [tags]="article().tagList" />
  </a>
</div>
