@if (article(); as art) {
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>{{ art.title }}</h1>

        <div class="article-meta">
          <a [routerLink]="['/profile', art.author.username]">
            <img
              [src]="art.author.image || 'https://api.realworld.io/images/smiley-cyrus.jpg'"
              [alt]="art.author.username"
            />
          </a>
          <div class="info">
            <a [routerLink]="['/profile', art.author.username]" class="author">{{
              art.author.username
            }}</a>
            <span class="date">{{ art.createdAt | date: 'longDate' }}</span>
          </div>

          @if (authService.username() === art.author.username) {
            <span>
              <a [routerLink]="['/editor', art.slug]" class="btn btn-outline-secondary btn-sm">
                <app-icon name="pencil-fill" /> Edit Article
              </a>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">
                <app-icon name="trash-fill" /> Delete Article
              </button>
            </span>
          } @else {
            <span>
              <button
                type="button"
                class="btn btn-sm"
                [class.btn-secondary]="art.author.following"
                [class.btn-outline-secondary]="!art.author.following"
                (click)="toggleFollow()"
              >
                <app-icon name="person-plus-fill" />
                {{ art.author.following ? 'Unfollow' : 'Follow' }} {{ art.author.username }}
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-sm"
                [class.btn-primary]="art.favorited"
                [class.btn-outline-primary]="!art.favorited"
                (click)="toggleFavorite()"
              >
                <app-icon name="heart-fill" />
                {{ art.favorited ? 'Unfavorite' : 'Favorite' }} Article ({{ art.favoritesCount }})
              </button>
            </span>
          }
        </div>
      </div>
    </div>

    <div class="container page">
      <div class="row article-content">
        <div class="col-md-12">
          <div [innerHTML]="art.body | markdown"></div>
          <app-tag-list [tags]="art.tagList" />
        </div>
      </div>

      <hr />

      <div class="article-actions"></div>

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          @if (authService.isAuthenticated()) {
            <app-comment-form (commentSubmitted)="addComment($event)" />
          } @else {
            <p>
              <a routerLink="/login">Sign in</a> or <a routerLink="/register">sign up</a> to add
              comments on this article.
            </p>
          }

          <app-comment-list
            [comments]="comments()"
            [currentUsername]="authService.username()"
            (deleteComment)="deleteComment($event)"
          />
        </div>
      </div>
    </div>
  </div>
}
