@if (isLoading()) {
  <div class="article-preview">Loading articles...</div>
} @else if (!articles().length) {
  <div class="article-preview">No articles are here... yet.</div>
} @else {
  @for (article of articles(); track article.slug) {
    <app-article-preview [article]="article" (toggleFavorite)="articleUpdated.emit($event)" />
  }

  @if (totalPages().length > 1) {
    <nav>
      <ul class="pagination">
        @for (page of totalPages(); track page) {
          <li class="page-item" [class.active]="page === currentPage()">
            <button type="button" class="page-link" (click)="setPage(page)">{{ page }}</button>
          </li>
        }
      </ul>
    </nav>
  }
}
